:root {
    --purple: #f5b744;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00000098;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 3rem;
    color: #fffdfd;
    font-weight: bolder;
}

header .logo span {
    color: var(--purple);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--purple);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    text-align: center;
    max-width: 50rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

.audio{
    margin-top: 20px;
    padding: 5px;
    max-width: 30%;
    width: 30%;
    border-radius: 100%;
}

.audio audio{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.about {
    background-color: #333;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #fcf7f7;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 52, 153, 0.05);
}

.heading span {
    color: var(--purple);
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    border-radius: 50px;
}

.learn-more {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    background-color: var(--purple);
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.learn-more:hover {
    background-color: #ebc175;
}
